table.ZephyrDataEntryGrid.ZephyrErrorOutlineField{ 
    border:2px solid red;
}

.ZephyrGridErrorMessage{
    color:red;
    font-weight: bold;    
}

table.ZephyrDataEntryGrid { 
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;	
        border: 1px solid black;
	border-collapse: collapse;
}

.ZephyrDataEntryGrid tbody{
    border-top: 1px solid black;
    background-color: white;        
}

table.ZephyrDataEntryGrid a {
	text-decoration: underline;
    color:blue;
}
table.ZephyrDataEntryGrid a:visited {
	text-decoration: none;
    color:blue;
}

.ZephyrDataEntryGrid thead th {
	font-size: 105%;
	color: #000;
	background: #ffffff url(tbar.gif) repeat-x;	
    padding: 0.3em;
}

.ZephyrDataEntryGrid tr {
	vertical-align: top;
    border-bottom: 1px solid black;
}
.ZephyrDataEntryGrid tr,th,td {
	padding: .3em;
    vertical-align: middle;
}
.ZephyrDataEntryGrid tfoot tr {
	background: #fff url(bbar.gif) repeat-x;
}
.ZephyrDataEntryGrid tfoot td, tfoot th{
	color: #000;
	border: 0px;
}

.ZephyrDataEntryGrid td{
    border-right: 1px solid black;
}

