.ZephyrLabel{
    font-weight: bold;
    border:none;
    margin-right:0.2em;
    background: inherit;
    vertical-align: top;
}

.ZephyrSpace{
     padding: 0.5em;
}

.ZephyrAutoCompleteText{
    background-color: #DAFFFF;
}

/* Override YUI css for autocomplete fields */
.yui-skin-sam .ZephyrAutoCompleteText.yui-ac-input {
   width: auto;
   position: relative;
}

.ZephyrControl[readonly]{
    background-color:lightgrey;
}

.ZephyrFormErrorMessage{
    color:red;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;    
}

.ZephyrErrorOutlineField{ 
    border:2px solid red;
}

.ZephyrDescription{
    font-size:  0.75em;
    text-align: left;
    background: inherit;
    border:none;
    padding-left: 1em;
    vertical-align: top;
}

.HelpRollover{
     padding-left: 1em;
     vertical-align: top;
}
